<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link href="../../static/edit.css" th:href="@{/edit.css}" rel="stylesheet" />
  <title>Edit User</title>
</head>
<body>
<div class="container">
  <h1 id="pageTitle">Edit User</h1>
  <form id="cancel" th:action="@{/admin/ListUsers}">
    <button type="submit">Cancel</button>
  </form>
  <form id="save" th:action="@{/admin/save}" th:object="${user}" method="post">
    <table>
      <tr>
        <td>EmployeeID:</td>
        <td>
          <input type="text" th:field="*{user_id}" readonly="readonly">
        </td>
      </tr>
      <tr>
        <td>Username:</td>
        <td>
          <input type="text" name="username" th:value="${user.getUsername()}" th:field="*{username}" required>
        </td>
      </tr>
    </table>
    
   
    <input type="text" name="password" th:value="${user.getPassword()}" th:field="*{password}">
    <!--<input type="text" name="role" th:value="${user.getRole()}" th:field="*{role}">-->
    <select th:field="*{role}" >
      <option th:value="ROLE_USER"}>User</option>
      <option th:value="ROLE_MANAGER"}>Manager</option>
      <option th:value="ROLE_ADMIN"}>Admin</option>
    </select>
   <!--<input type="text" name="enabled" th:value="${user.getEnabled()}" th:field="*{enabled}">-->
    <select th:field="*{enabled}" >
      <option th:value="true"}>Enabled</option>
      <option th:value="false"}>Disabled</option>
    </select>
    <button type="submit">Save</button>
  </form>
</div>
</body>
</html>