<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link href="../../static/edit.css" th:href="@{/add.css}" rel="stylesheet" />
  <title>Edit User</title>
</head>
<body>
<div align="center">
  <h1>Edit User</h1>
  <br/>
  <form action="#" th:action="@{/admin/save}" th:object="${user}" method="post">
    <input type="text" th:field="*{user_id}" readonly="readonly">
    <input type="text" name="username" th:value="${user.getUsername()}" th:field="*{username}">
    <input type="text" name="password" th:value="${user.getPassword()}" th:field="*{password}">
    <!--<input type="text" name="role" th:value="${user.getRole()}" th:field="*{role}">-->
    <select th:field="*{role}" >
      <option th:value="ROLE_USER"}>User</option>
      <option th:value="ROLE_MANAGER"}>Manager</option>
      <option th:value="ROLE_ADMIN"}>Admin</option>
    </select>
   <!--<input type="text" name="enabled" th:value="${user.getEnabled()}" th:field="*{enabled}">-->
    <select th:field="*{enabled}" >
      <option th:value="true"}>Enabled</option>
      <option th:value="false"}>Disabled</option>
    </select>
    <button type="submit">Save</button>
  </form>
  <button onclick="window.location.href='/admin/ListUsers'">Cancel</button>
</div>
</body>
</html>