<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="../../../../static/add.css" th:href="@{/add.css}" rel="stylesheet" />

    <title>Add Expense Report</title>
</head>
<body>
    <div class="container">



<div th:align="center">
    <h1 id="pageTitle">Add Expense Report</h1>
</div>
<div>
    <form id="cancel" th:align="center" th:action="@{'/manager/ListEmployees/showEmployeeForms/' + ${currentUser.getEmployeeID()}}">
        <button type="submit">Cancel</button>
    </form>
</div>
</div>
<div th:align="center">
    <form id="save" style="text-align: center;" th:action="@{'/admin/ListEmployees/showEmployeeForms/processExpenseReport/' + ${currentUser.employeeID}}" th:object="${expenseReport}">
        <table id="table">
            <tr>
                <td>Year:</td>
                <td><select id="year" th:field="${expenseReport.dateRange}" ></select></td>
                <script>
                    var start = 1900;
                    var end = new Date().getFullYear();
                    var options = "";
                    for(var year = start ; year <=end; year++){
                        options += "<option>"+ year +"</option>";
                    }
                    document.getElementById("year").innerHTML = options;
                </script>
            </tr>
            <tr>
                <td></td>
            </tr>
            
        </table>
        <button type="submit">Generate</button>
    </form>
</div>
</div>
</body>
</html>