
body {
    background-color: #5cdb95;
}

body > h1{
    text-align: center;
    
}

h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

h1 {
    font-family: sans-serif;
    text-transform: uppercase;
}


p {
    font-family: sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.container-item{
    text-align: center;
    margin: 10px;
    padding: 0px;
    /* background-color: red; */
}


#pageTitle{
    font-size: 3rem;
    color:#EDF5e1;
    
}

#pageTitle b{
    color: #DB5C77;
}

#sign-out button{
    width: 200px;
    height: 50px;
}

#navigation{
    /* background-color:aqua; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    justify-content: center;

}

#navigation button{
    font-size: 20px;
    margin: 30px;
    background-color: #EDF5e1;
    width: 200px;
    height: 50px;
    align-self: center;
    border:none;
    border-radius: 5px;
}

