
body {
    background-color:#5cdb95;
}

.container{
    display: grid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.container-item{
    text-align: center;
    margin: 10px;
    padding: 0px;
    
}
#pageTitle {
    color: #db6b5c;
    font-size: 100px;
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.sign-out input{
    width: 200px;
    height: 50px;
    border:none;
    border-radius: 5px;
    background-color:#db6b5c;
    color:rgb(51, 51, 51);
    font-size: 20px;
}

.sign-out button{
    width: 200px;
    height: 50px;
    border:none;
    border-radius: 5px;
    background-color:#EDF5e1#dad8d8;
    color:rgb(51, 51, 51);
    font-size: 20px;
}

#table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

#table td{
    
    padding: 50px;
}