body{
    background-color:#5cdb95;
}

#sign-out input{
    
    width: 200px;
    height: 50px;
    border:none;
    border-radius: 5px;
    background-color:#db6b5c;
    color:rgb(51, 51, 51);
    font-size: 20px;
}