<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <title>Admin Login</title>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>Admin!</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <div>
            <form th:action="@{/admin/ListUsers}">
                <button type="submit">ListUsers</button>
            </form>
        </div>
        <div>
            <form th:action="@{/admin/ListEmployees}">
                <button type="submit">List Employees</button>
            </form>
        </div>
        <div>Place Holder</div>
    </div>
</body>
</html>